<div class="div-principal">
  <div class="div-header">
    <div class="cabecalho">
      <img id="icone-desktop" src="/assets/imagens/chat.png" />
    </div>
    <div class="div-p">
      <p>Charlar</p>
    </div>
    <div class="div-menu">
      <div class="div-links-menu">
        <a class="links-menu">Charlar Web</a>
        <a class="links-menu">Charlar Web</a>
        <a class="links-menu">Charlar Web</a>
        <a class="links-menu">Charlar Web</a>
        <a class="links-menu">Charlar Web</a>
      </div>
    </div>
  </div>

  <div class="col-12 div-principal-layout">
    <div class="col-5 div-layout-img">
      <img id="img-not" src="/assets/imagens/not.png" />
    </div>

    <div class="col-6 div-layout-btns">
      <div class="div-btn-cadastro">
        <p>
          Se você ainda não possui cadastro, cadastre-se entre para esse app
          divertido
        </p>
        <button class="botao-cadastro">
          <a class="links" href="cadastro/" target="_blank">cadastrar-se</a>
        </button>
      </div>
      <br />
      <br />
      <div class="div-btn-loggin">
        <p>Se você já é um ususario faça seu loggin</p>
        <button class="botao-loggin">
          <a class="links" href="loggin/">Fazer Loggin</a>
        </button>
      </div>
    </div>
  </div>
</div>
